@use "../styles/colors";

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.7rem;
  font-weight: 600;
  text-align: center;
  background-color: #0a0028;
  color: #aaa;

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .link {
      margin: 0 1rem;
    }
  }

  p {
    margin: 0;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #aaa;

    &:hover {
      color: #fff;
    }
  }
}
