.gameCard img {
  border-radius: 100px;
  border: solid 2px #fff;
  width: 191px;
  height: 255px;
  transition: 0.5s;

  &:hover {
    border-radius: 0;
    width: 253.97px;
    height: 338.84px;
    cursor: pointer;
  }
}
