.gameCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.5rem;

  img {
    border-radius: 100px;
    border: solid 2px #fff;
    width: 80%;
    transition: 0.5s;

    &:hover {
      border-radius: 0;
      width: 100%;
      cursor: pointer;
      z-index: 1000;
    }
  }
}
