.container {
  display: flex;
  flex-direction: column;

  .listName {
    z-index: 500;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
  }

  .gameListCard {
    display: block;
    position: relative;
    height: 260px;
    width: 300px;

    #card1 {
      position: absolute;
      left: 0;
      z-index: 100;
    }
    #card2 {
      position: absolute;
      left: 50px;
      z-index: 200;
    }
    #card3 {
      position: absolute;
      left: 100px;
      z-index: 100;
    }

    img {
      border-radius: 100px;
      border: solid 2px #fff;
      width: 191px;
      height: 255px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
