.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
  position: relative;

  #heroText {
    font-weight: 500;
    font-size: 48px;
    position: absolute;
    animation: moveText 1400ms ease;
    z-index: 200;
  }

  .heroImage {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;

    #circle {
      position: absolute;
      top: -4rem;
      left: 3rem;
      z-index: 100;
      animation: scaleCircle 1400ms ease;
    }

    #gamer {
      top: 4rem;
      z-index: 200;
      animation: showGamer 1400ms ease;
    }
  }
}

@keyframes moveText {
  0% {
    transform: translateX(-700px) translateY(100px);
  }
  50% {
    transform: translateX(100px) translateY(100px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes scaleCircle {
  0% {
    transform: scale(0) translateY(100px);
  }
  50% {
    transform: scale(2) translateY(100px);
  }
  100% {
    transform: scale(1);
    transform: translateY(0px);
  }
}

@keyframes showGamer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateX(-40px) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) translateY(0px);
  }
}
