.miniReview {
  display: flex;
  flex-direction: column;
  width: 48%;
  // margin: 1rem;

  .reviewDetails {
    display: flex;
    .imgContainer {
      width: 20%;
      img {
        border-radius: 100px;
        border: solid 2px #fff;
        width: 100%;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      width: 80%;

      .header {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;

        h2 {
          margin-top: 0;
          margin-bottom: 0;
          margin-right: 1rem;
          font-weight: 700;
          font-size: 2rem;
        }
      }

      .stars {
        display: flex;
        align-items: center;
      }

      .reviewerInfo {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 400;

        img {
          width: 15%;
          margin-right: 1rem;
        }

        span {
          font-weight: 600;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .miniReview {
    width: 100%;
    .imgContainer {
      width: 20%;
    }

    .content {
      width: 80%;

      .header {
        h2 {
          font-size: 1.5rem;
        }
      }
    }
  }
}
