@use "./mixins";
@use './colors';

.container {
  max-width: 1920px;
  margin: 0 auto;

  .background {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    background-size: cover;
    background-position: center;
    z-index: 0;
  }

  .main {
    position: relative;
    margin: 0 5%;
    height: 100vh;
    z-index: 100;

    .heading {
      font-weight: 600;
      font-size: 3rem;
      border-bottom: 1px solid #fff;
      color: rgba(255, 255, 255, 0.5);
    }

    .section1 {
      display: flex;
      justify-content: space-between;

      .leftCol {
        width: 40%;

        .image {
          border-radius: 50px;
          border: solid 2px #fff;
          height: 400px;
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
          background-size: cover;
          background-position: center top;
          margin: 0.5rem;
        }

        @include mixins.glassButtons;
      }

      .rightCol {
        display: flex;
        flex-direction: column;
        width: 60%;
        .about {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.15);
          backdrop-filter: blur(5px);
          border-radius: 10px;
          padding: 1rem;
          margin: 0.5rem;
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);

          .cardTitle {
            font-size: 2.5rem;
            margin: 0;
            margin-bottom: 1rem;
            color: rgba(255, 255, 255, 0.5);
          }

          .aboutToggle {
            display: flex;
            background: linear-gradient(90deg, #4458d6 0%, #a34bd4 100%);
            opacity: 0.7;
            transition: 0.4s ease;
            border-style: none;
            border-radius: 15px;
            width: 40%;
            padding: 1rem;
            margin: 1rem;
            color: #fff;
            font-weight: 700;
            font-size: 1rem;
            z-index: 300;
            text-align: center;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);

            &:hover {
              cursor: pointer;
              width: 50%;
              box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
    }
    .miniReviews {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 5rem;

      .reviewCol {
        display: flex;
        flex-direction: column;
        width: 49%;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .container {
    .main {
      .heading {
        font-size: 2rem;
      }

      .section1 {
        flex-direction: column;
        align-items: center;
        .leftCol {
          width: 100%;
          .image {
            height: 200px;
          }
          @include mixins.glassButtonsMobile;
        }
        .rightCol {
          width: 100%;
          .cardTitle {
            font-size: 1.5rem;
          }
        }
      }
      .miniReviews {
        flex-direction: column;
        align-items: center;

        .reviewCol {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }
    }
  }
}
