@use "./mixins";
@use './colors';

.container {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  padding-bottom: 2rem;

  .background {
    position: fixed !important;
    opacity: 0.3;
    z-index: 0;
  }

  .main {
    margin: 0 5%;

    @include mixins.glassButtons;

    a {
      text-decoration: none;
    }

    .infoCards {
      display: flex;
      justify-content: space-around;
      align-items: stretch;
    }

    .joinButton {
      width: 15rem;
      margin: 3rem auto;
      display: flex;
      justify-content: center;
    }

    a {
      .subHeading {
        &:hover {
          color: rgba(255, 255, 255, 1);
        }
      }
    }

    .subHeading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      font-size: 3rem;
      border-bottom: 1px solid #fff;
      color: rgba(255, 255, 255, 0.5);
      transition: 0.5s;
      padding-bottom: 1rem;

      .searchQuery {
        word-wrap: break-word;
      }

      .profileTitle {
        display: flex;
        align-items: center;
      }
    }

    .miniReviews {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 5rem;

      .reviewCol {
        display: flex;
        flex-direction: column;
        width: 49%;
      }
    }

    .pageButtons {
      width: 350px;
      margin: auto;
    }

    .formContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 4rem 0;
      position: relative;
      max-width: 800px;
      margin: 0 auto;

      .box {
        position: relative;
        min-width: 40%;

        @keyframes animate {
          0%,
          100% {
            transform: translateY(-40px);
          }
          50% {
            transform: translateY(40px);
          }
        }

        .square {
          position: absolute;
          background-color: rgba(255, 255, 255, 0.15);
          backdrop-filter: blur(5px);
          box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.5);
          border-left: 1px solid rgba(255, 255, 255, 0.2);
          border-top: 1px solid rgba(255, 255, 255, 0.2);
          border-radius: 10px;
          animation: animate 10s linear infinite;
          animation-delay: calc(-1s * var(--i));

          &:nth-child(1) {
            width: 100px;
            height: 100px;
            top: -50px;
            right: -50px;
            z-index: 0;
          }
          &:nth-child(2) {
            width: 120px;
            height: 120px;
            bottom: -100px;
            left: 50px;
            z-index: 0;
          }
          &:nth-child(3) {
            width: 80px;
            height: 80px;
            top: 200px;
            right: -60px;
            z-index: 100;
          }
          &:nth-child(4) {
            width: 200px;
            height: 200px;
            top: 100px;
            left: -100px;
            z-index: 0;
          }
          &:nth-child(5) {
            width: 50px;
            height: 50px;
            top: -30px;
            left: 100px;
            z-index: 100;
          }
        }
      }
    }

    .tabSelect {
      display: flex;
      align-items: center;
      justify-content: center;

      ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        font-weight: 600;
        font-size: 16px;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(5px);
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);

        .row {
          display: flex;
          width: 100%;
          justify-content: space-around;
        }

        .active {
          &::before {
            visibility: visible;
            transform: scaleX(1);
          }
        }
      }

      a {
        text-decoration: none;
        color: #fff;
        position: relative;
        width: 100%;

        &:hover {
          cursor: pointer;
        }

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #fff;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out;
        }

        &:hover::before {
          visibility: visible;
          transform: scaleX(1);
        }
      }

      .dropdown {
        .dropdownToggle {
          &:hover::before {
            visibility: hiddne;
            transform: scaleX(0);
          }
        }

        .dropdownMenu {
          flex-direction: column;
          position: absolute;
          width: auto;
          background-color: #0a0028;
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
          border-radius: 10px;
          padding: 1rem;
          z-index: 2000;
          font-size: 12px;

          li {
            margin: 0.5rem 0;
          }
        }

        .show {
          display: flex;
        }

        .hide {
          display: none;
        }
      }
    }
  }

  .modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    transition: 0.5s;
  }

  .modalHidden {
    visibility: hidden;
    opacity: 0;
  }
  .modalVisible {
    visibility: visible;
    opacity: 1;
  }

  .modalCloseButton {
    text-align: right;

    .button {
      width: 20px;
      margin-left: auto;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .container {
    .main {
      .infoCards {
        flex-direction: column;
      }
      .subHeading {
        font-size: 1.5rem;
        flex-direction: column;
      }

      .miniReviews {
        flex-direction: column;
        align-items: center;

        .reviewCol {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }
      .pageButtons {
        width: 100%;
        @include mixins.glassButtonsMobile;
      }

      .tabSelect {
        ul {
          flex-direction: column;
          align-items: center;

          .row {
            padding: 1rem 0;
            justify-content: space-around;
          }

          #row1 {
            border-bottom: 2px solid rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
}
