.container {
  padding: 3rem;
  max-width: 1920px;
  margin: 0 auto;
}

.container header {
  display: flex;
  justify-content: space-between;
}

.main {
  margin: 0 5%;
}

.infoCards {
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;
}

.joinButton {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}
