@use "./mixins";
@use './colors';

.container {
  max-width: 1920px;
  margin: 0 auto;

  .main {
    margin: 0 5%;

    .infoCards {
      display: flex;
      justify-content: space-around;
      align-items: stretch;
    }

    .joinButton {
      width: 15rem;
      margin: 3rem auto;
      display: flex;
      justify-content: center;
    }

    .subHeading {
      font-weight: 500;
      font-size: 2rem;
      border-bottom: 1px solid #fff;
    }

    .miniReviews {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 5rem;

      .reviewCol {
        display: flex;
        flex-direction: column;
        width: 49%;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .container {
    .main {
      .infoCards {
        flex-direction: column;
      }
      .subHeading {
        font-size: 1.5rem;
      }

      .miniReviews {
        flex-direction: column;
        align-items: center;

        .reviewCol {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }
    }
  }
}
